.features-list {
    display: flex;
    margin-left: auto;
}

.features-item:not(:last-child) {
    margin-right: 30px;
}

.futers-content{
    margin-bottom: 30px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F5F4FA;
    border-radius: 4px;
}

.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-color);
    margin-bottom: 10px;
}

.features-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--text-color);
    max-width: 270px;
}